.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #00000014;

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
  }

  .nav {
    display: flex;
    gap: 28px;

    a {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
    }
  }

  .logo,
  .logoRight {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }
}